<nav id="mantic_menu" class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="">
    <i class="material-icons">person_pin</i> Mantic<strong>Hub</strong>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="O que deseja procurar">
    </form>
    <a (click)="getMarkers()" class="btn btn-primary" >Eventos</a>
  </div>
</nav>

<agm-map [latitude]="initPos.lat" [longitude]="initPos.lng" [zoom]="zoom">
    <agm-marker 
        *ngFor="let marker of markers" 
        [latitude]="marker.latitude" 
        [longitude]="marker.longitude"
         > <!--[iconUrl]="marker.iconUrl"-->
    </agm-marker>
</agm-map>

<div class="right_container">

    <div class="col">
        <div id="places" [hidden]="showDetail">
            <div *ngFor="let marker of markers" class="list-group">
                <a (click)="openDetail(marker)" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div *ngIf="marker.image" class="box_image" [ngStyle]="{'background': 'url('+marker.image+') center no-repeat'}"></div>
                    <div *ngIf="!marker.image" class="box_image"><i class="material-icons">album</i></div>
                    <h6 [ngStyle]="{'color':'#'+marker.color}" class="mb-1"><i class="material-icons">album</i> {{marker.title}}</h6>
                    <small>
                        <i *ngIf="marker.startDate" class="material-icons">date_range</i> {{marker.startDate | date: 'dd/MM/yyyy'}} - <i class="material-icons">alarm</i> {{marker.startDate | date: 'HH'}}h{{marker.startDate | date: 'mm'}}
                        <ng-container *ngIf="marker.priceRange"> - {{marker.priceRange}}</ng-container>
                    </small>
                    <p class="mb-0 desc">{{marker.description | ellipsis:80}}</p>
                </a>
            </div>
        </div>
    </div>

    <div class="details" [hidden]="!showDetail">
        
        <figure>
            <img src="{{detail?.image}}" class="img-fluid" alt="Responsive image">
        </figure>

        <div class="col">
            <a (click)="hiddenDetail(marker)" class="btn btn-primary">voltar</a>
            <h3>{{detail?.title}}</h3>
            <p>{{detail?.description}}</p>
        </div>
    </div>
</div>