@import './../shared/style/variables.scss';

//* HEADER *//

#mantic_menu{
    border-bottom: 2px solid $secondary_color;
    background: $primary_color;
    color: #FFF;
    z-index: 1;

    i{
        position: relative;
        top: 5px;
    }
}

.navbar-brand{
    color: #FFF;
    width: 100%;
    margin: 0;
    text-align: center;
    background: $dark_primary_color;
    border-bottom: 2px solid $secondary_color;
    padding-right: 20px;
    transition: 0.2s ease;

    &:hover,
    &:active,
    &:focus{
        color: $secondary_color;
    }

    strong{
        color: $secondary_color;
    }
}

//* FILTERS *//

#filter_container{
    padding: 10px 0;
    border-bottom: 1px solid #CCC;
}

.sebm-google-map-container {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.place{
    width: 25rem;
    padding: 5px;

    a{
        color: #FFF;
    }

    img{
        width: 100%;
    }
}

ul{
    margin-top: 20px;
    padding: 0;
}

li{
    list-style: none;
    margin-bottom: 5px;
}

.material-icons{
    font-size: inherit;
    position: relative;
    top: 2px;
}

.right_container{
    position: fixed;
    margin-top: -1px;
    background: rgba(255,255,255,0.8);
    overflow: auto;
    border: 1px solid #DDD;
    width: 30%;
    margin: 10px;
    max-width: 450px;
    height: calc(100% - 20px) !important;
    border-radius: 5px;

    p{
        font-size: 14px;

        &.desc{
            color: #999;
        }
    }

    small{
        color: #666;
    }
}

.first_form{
    margin-top: 15px;
}

.list-group-item{
    cursor: pointer;
    padding-left: 115px;

    &:first-child{
        margin-top: 15px;
    }
}

.list-group{
    margin-bottom: 10px;
    max-height: 150px;
    overflow: hidden;
}

.box_image{
    position: absolute;
    top: 0;
    left: 0;
    width: 103px;
    height: 100%;
    background-size: cover !important;
    border-right: 1px solid #DDD;
    background-color: #8cbf44;

    .material-icons{
        position: absolute;
        margin: auto;
        color: lighten(#8cbf44, 20%);;
        top: 50%;
        margin-top: -15px;
        font-size: 30px;
        text-align: center;
        width: 100%;
    }
}

.details{
    overflow: auto;
}

.img_details{
    height: 150px;
    background-size: cover !important;
    width: 100%;
}







.maskBg{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("https://simg.uol.com.br/nocache/uolhost-hospedagem/img/bg/bg-opacity-h37.png");
	background: rgba(255,255,255,0.5);
	z-index: 999999;
}

.loader {
	margin: 60px auto;
	font-size: 6px;
	position: fixed;
	z-index: 99999;
	top: 50%;
	left: 50%;
	margin-left: -35px;
	margin-top: -35px;
	text-indent: -9999em;
	border-top: 2px solid rgba(140, 191, 68, 0.3);
	border-right: 2px solid rgba(140, 191, 68, 0.3);
	border-bottom: 2px solid rgba(140, 191, 68, 0.3);
	border-left: 3px solid  darken($secondary_color, 5%);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-moz-animation: load8 1.1s infinite linear;
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-moz-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
